######################################
* Standard

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz

# Coveralls
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Typical output for burp
target

# Bower components + Yeomon
dist
.tmp
.sass-cache
bower_components

# Zazzy -when zazzy runs it puts running assembled config files in here and creates dirs for logs, builds or results
.zz

# custom Gulp build directories
public/build/
public/third/

######################################
# Additional (The following is old: needs debugging and most likely deleting, or tucking inside the .zz directory)

# logs: used by logger -- should be able to move into .zz/logs
logs

# should be able to tuck into .zz -- originally had it b/c using b/c Express, Blob and a few others have it
results

# compiled marko files
*.marko.js

######################################
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties